   <%- include ('header_') %>
   <%- include ('top_menu') %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
	  <a href="/image_list/">이전 화면 </a>   
	  <h3>Photo View</h3>
	  <hr />
	  <div align="center"> <img alt="User Pic" src="<%=file_path%>" style="width: 700px; height:auto;"> 
                         
       </div>

	<%- include ('footer') %>
	