<%- include ('header_') %>
<%- include ('top_menu') %> 

 <div class="jumbotron">
	<h2 class="text-center">Welcom to Object Detection & Alarm Service</h2>
    <p class="text-center"> OneM2M Platform -> Mobius Server by KETI</p>
	<hr />	   
	<div class ="row">
	<div class = "col-md-center">
		<img class="center-block" src="../../images/imgFile.jpg" alt= "Responsive image">
	</div>
	</div>	
   
 </div>
 

<%- include ('footer') %>
